/*
Tutorial Name: Off Canvas Sliding Navigation
Author: Samuel Dalusung
*/


/* GENERAL STYLES
-------------------------------------------------*/

html, 
body{
  background-color: #ffffff;
}


h1, h2, h3{
	text-align: center;

}

h1{
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 100;
	font-size: 45px;
	margin-top: 15px;
	color: #38935f;

}

h3{
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 100;
	font-size: 25px;
	margin-top: 15px;
	color: #918e84;
}


/* CONTAINERS
-------------------------------------------------*/

#container {
    width: 100%;
    height: 100vh; 
    position: relative;
    overflow: hidden;
}


#canvas {
    width: 100%;
    height: 100%;
    padding: 0; 
    position: relative;

    -webkit-transform:translateX(0);
    -moz-transform:translateX(0);
    -ms-transform:translateX(0);
    -o-transform:translateX(0);
    transform:translateX(0);

    -webkit-transition:.5s ease all;
    -moz-transition:.5s ease all;
    -o-transition:.5s ease all;
    transition:.5s ease all;

}
.htmleaf-container {
  margin-top: 10px;
  margin-left: 10px;
}

#nav {
    width: 230px;
    height: 100%;
    background: #2a3542;
    margin-right: -40px;
    margin-top: -10px;
    position: absolute;
    left: -300px;
    top: 0;

    
    -webkit-transition:.5s ease all;
    -moz-transition:.5s ease all;
    -o-transition:.5s ease all;
    transition:.5s ease all;
    
    /* By default, rotate the menu 90deg inwards */
    -webkit-transform:rotateY(-90deg);
    -moz-transform:rotateY(-90deg);
    -ms-transform:rotateY(-90deg);
    -o-transform:rotateY(-90deg);
    transform:rotateY(-90deg);
}

#container.display-nav #canvas {
   -webkit-transform:translateX(300px);
   -moz-transform:translateX(300px);
   -ms-transform:translateX(300px);
   -o-transform:translateX(300px);
   transform:translateX(300px);
}
#container.display-nav .htmleaf-container {
   -webkit-transform:translateX(-55px);
   -moz-transform:translateX(-55px);
   -ms-transform:translateX(-55px);
   -o-transform:translateX(-55px);
   transform:translateX(-55px);
}

/* transition the menu with perspective on "show-nav" */
#container.display-nav #nav {
    
    -webkit-transform-origin:100% 50%;
    -moz-transform-origin:100% 50%;
    -ms-transform-origin:100% 50%;
    -o-transform-origin:100% 50%;
    transform-origin:100% 50%;
    
    -webkit-transform:perspective(600px) rotateY(0deg);
    -moz-transform:perspective(600px) rotateY(0deg);
    -ms-transform:perspective(600px) rotateY(0deg);
    -o-transform:perspective(600px) rotateY(0deg);
    transform:perspective(600px) rotateY(0deg);

}


/* UTILITIES
-------------------------------------------------*/

#bars{
	font-size: 26px;
	margin-left: 10px;
  margin-top: -20px;
	color: #cccccc;
}

#bars:hover{
  color: #0a78ff;
}

#title {
  padding-top: 25px;
	color: rgba(0,0,0,0.4);
	text-shadow: 0 0 1px rgba(0,0,0,0.1);
	font-size: 30px;
	font-family: 'Raleway', Arial;
}
#title i {
  font-size: 40px;
}

.border{
border-top: 1px solid rgba(0,0,0,0.2);

}

a.back {
   color: #38935f; 
   width: 200px;
   text-decoration: none; 
   text-align: center; 
   font-family: 'Raleway'; 
   font-size: 20px;
   font-weight: 100;
   display: block;
   margin: 50px auto 0 auto;
   border: 2px solid #38935f;
   padding: 10px;

}

a.back:hover{
   color: #48b978; 
   border: 2px solid #48b978;
}


.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
}



/* TOGGLE NAV
-------------------------------------------------*/

#toggle {
    list-style: none;
    margin-top: 30px;
}
#toggle div:hover {
  background: rgba(0,0,0,0.2);
	-webkit-box-shadow:inset 0 -1px rgba(0,0,0,0);
  -moz-box-shadow:inset 0 -1px rgba(0,0,0,0);
  box-shadow:inset 0 -1px rgba(0,0,0,0);
	color: #fff;
}
#toggle div.active {
    background: #0a78ff;
}
#toggle div {

    cursor: pointer;
    display: block;
       border-bottom: 1px solid rgba(0,0,0,0.2);
}

 span.menu-icons {
    font-size: 20px;
    height: 20px;
    width: 22px;
    float: left;
    margin: 11px -35px 10px 37px;
    color: #fff;
}


span.the-btn {
    float: right;
    font-size: 20px;
    font-weight: lighter;
    height: 30px;
    width: 43px;
    margin-top: 10px;
	  margin-right: 8px;
    padding:0;
    color: #fff;
}

#toggle ul {
    list-style: disc;
    display: none;
    color: #fff;
    margin-left: -38px;
    background: rgba(0,0,0,0.2);
	  -webkit-box-shadow:inset 0 -1px rgba(0,0,0,0);
    -moz-box-shadow:inset 0 -1px rgba(0,0,0,0);
    box-shadow:inset 0 -1px rgba(0,0,0,0);

}
#toggle li a {
    line-height: 41px;
    color: #fff;
    list-style: circle;
    width: 230px;
    padding: 0;
  	margin: 0 0 0 50px;

}
#toggle a {
	  margin: 0 0 0 47px;
    padding: 0;
    font-family: 'Lato';
    color: #fff;
    line-height: 41px;
    font-size: 15px;
    text-decoration: none;

}

#toggle ul li {
     margin-left: 109px;   
}

#toggle ul li a:hover{
	color: #0a78ff;
}

#toggle ul li a {
     margin-left: 0;   
}
