@charset "utf-8";
body{
	margin:0;
	padding:0;
	font-size: 12px;
	color:#333;
	font-family:'TelefonicaTextRegular',Arial,Helvetica,sans-serif; background:#F1F1F1; min-width:1190px;
	
}
A {
	COLOR:#666;TEXT-DECORATION: none
}
A:hover {
	COLOR: #2A6496 ; TEXT-DECORATION: none
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0; list-style:none;
}
.box_search {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #999999;
}
img { border:0;}
.total0 {  } 
.total { width:1000px; margin:0 auto; height:auto !important;}
.dh { line-height:30px; color:#ccc;}
.red {
	font-weight: bold;
	color: #AA0000;
}
.red2{ color: #AA0000;}
.green {color:#487F00;}
.f9 { font-size:12px;font-weight: bold;}
.top0 { background: #fff;}
.top { height:70px; color:#666; width:1000px; position:relative; margin:0 auto; padding-top:15px; }
.gjz { line-height:30px;}
.top a{ color: #999999; margin:0 5px;}
.search { width:195px; height:24px; background:url(search.jpg); position:absolute; top:50px; right:15px; line-height:normal;}
.search dt { float:left; padding:0 0 0 8px;}
.search dt input { border:1px solid #D0D1D2; font-size:12px; width:140px; height:17px; line-height:17px;color:#999; padding:0 5px; font-family:Arial, Helvetica, sans-serif;}
.search dd { float:right; width:20ox;}
.search dd a{ width:22px; height:17px;}
.tel { position:absolute; right:350px; top:30px;}
.top_left { float:left; margin:0; }
.top_right { float:right; padding-top:5px;}
.lx { position: absolute; top:60px; right:0; border-top:1px solid #DEDEDE; padding-top:10px;}
.lx li{ background:url(lx.gif) no-repeat right; padding:0 20px; float:left;}
.cp {background:#003245; height:42px; color:#868C8E; font-size:14px; line-height:42px; text-align:right; padding:0 15px;}
.cp a {color:#A0A0A0; text-transform: uppercase; margin:0 5px;}

.ts-search {filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#FFB400',endColorStr='#FFC000',gradientType='0'); background-image:-webkit-linear-gradient(top, #FFB400, #FFC000); background:-moz-linear-gradient(center bottom , #FFB400 0px, #FFC000 100%) repeat scroll 0 0 #FFB400 ; border:1px solid #FFBA00; border-radius:5px; box-shadow:0 2px 0 rgba(84, 73, 11, 0.16), 0 1px 0 rgba(255, 255, 255, 0.38) inset; line-height:30px; color:#000000; padding:5px 10px; position:relative;}
.ts-xuan { background:url(xuan-d.png) no-repeat right; padding-right:20px; display:inline-block; float:left; margin:0 15px;cursor: pointer}
.input-append { float:left; display:inline; position:relative;}
.search-query { border:rgba(49, 53, 59, 0.56); width:350px; height:25px; border:1px solid #8B8D91; border-radius:15px; box-shadow:0 1px 0 rgba(255, 255, 255, 0.5); font-size:12px; padding:3px 12px; vertical-align:middle; display:inline-block; color:#999; font-family:Arial, Helvetica, sans-serif;}
.search-btn { border-width:0; box-shadow:none; height:16px; position:absolute; right:10px; text-indent:-5000px; top:8px; width:16px; z-index:3px; background:url("search-btn.png") no-repeat; cursor:pointer;}

.box {border: 1px solid #E4E4E4;}

.nav0 { background:url(nav-bg.png) repeat-x; height:45px; line-height:45px;}
.nav { position:relative; width:1000px; margin:0 auto;}
.nav ul{ list-style:none;}
.nav li{ list-style:none; float:left; text-align:center; background: url(nav-line.png) no-repeat right; position:relative; }
.nav a{ color:#fff;padding:0 35px; position:relative; font-size:12px; display:block; }
.nav a:hover { color:#FFFF00; }
a.nav2 { background:url(nav-bg2.png) repeat-x;}
.nav li a .deco { background:url("sprite.png") no-repeat scroll -282px -11px rgba(0, 0, 0, 0); display:block; height:5px; left:15px; position:absolute; top:12px; width:3px;}

.banner0 {}
.banner {width:1000px; margin:0 auto 10px 0;}
.banner-left {background:#FFFFFF; padding:15px 20px;}
.banner-left h2 { text-transform: capitalize; padding:19px 0; font-size:2em; color:#000000;  font-weight:normal; font-family:Univers-lt-45,Arial,Helvetica,sans-serif; border-bottom:1px solid #eee;}
.fz { margin-top:15px; }
.banner-left h3 { line-height:30px; margin-top:15px; color:#487F00;}
.search-unit-products { background:none repeat scroll 0 0 #F2F2F2; border-radius:3px; box-shadow:0 1px 1px rgba(0, 0, 0, 0.3); padding:20px; position:relative;}
.c-left{ width:100px; float:left;}
.c-m { width:340px; float:left; margin:0 10px;}
.c-right { width:220px; float:left;}
.pepole { background:#428BCA; border:#357EBD; color:#FFFFFF; line-height:1.5; font-size:11px; text-align:center; border-radius:0 0 3px 3px; width:100px; height:120px; display:block; float:left; margin-right:10px;}
.pepole2 { background:#99BC53; border:#357EBD; color:#FFFFFF; line-height:1.5; font-size:11px; text-align:center; border-radius:0 0 3px 3px; width:100px; height:120px; display:block; float:left; margin-right:15px;}
.pepole2 a { color:#FFFFFF;}
.c-products { margin-top:15px;margin-left: 110px;margin-right: 215px;}
.xian { border-bottom:1px solid #ccc; margin-top:10px;}
input.gx { border:1px solid #fff; background:#fff;}
.module_img{background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 100px;display: table-cell;      vertical-align:middle; overflow:hidden; width:100px; text-align:center;}
.module_img img.product{width:100px;}
.message { position:absolute; right:50px; top:20px;}

.xw1 { border-bottom:4px solid #000; margin-bottom:15px; padding:10px 0;}

.neirong { float:left; width:190px;}
.neirong a { color: #666666;}
.date { float:right; color:#080808; width:35px;}
.date .day { font-weight: 900; font-size:28px;}
.date .month { letter-spacing:2px; text-align:center; text-transform:uppercase; color:#999999; line-height:12px;}
.date .year {letter-spacing:1px; text-transform:uppercase; text-align:center; color:#999999; line-height:10px;}

.banner_n {height:180px; background:#CCCCCC; margin-bottom:10px 0;}
.fenglei { border-top:1px solid #D9D9D9; border-bottom:1px solid #D9D9D9;}
.fenglei ul{ list-style:none;}
.fenglei li{ list-style:none; margin:0 10px; padding:15px 0; float:left;}
.fenglei a{ background:url(arrow.jpg) no-repeat; padding-left:30px; font-size:18px; color:#006052; float:left; height:23px; display:block;font-family: Georgia, "Times New Roman", Times, serif }

.pro_list { margin-top:10px;}
.pro_list h2{ font-size:160%; font-weight:normal;  color:#CC9900; width:215px; height:33px; line-height:33px;}
.pro_list li a.alink { display: inline; padding:0; background:none; color:#CC9900; margin:0;}
.pro_list ul { list-style:none;}
.pro_list li { list-style:none; margin:0; padding:0 0 0 30px; float:left;background:url(line_bg.gif) repeat-y right;}
.pro_list li a{ display:block; padding-left:20px; background:url(arrow00.jpg) no-repeat 3px; color:#6699CC; margin:8px 0;}


.products { margin:0 20px 0 20px;;}
.products h2{ font-size:18px; font-weight:normal; margin:10px 0; color:#000000;}
.products ul{ list-style:none;}
.products li{ list-style:none; float:left; background:url(products_bg2.jpg) no-repeat; width:152px; height:200px; margin:0 33px 0 0; padding:5px; }
.products li:hover {background:url(products_bg.jpg) no-repeat;}
.products li a{ color: #666666;}
.products li a:hover {color:#246875}
.products li span { display:block; margin-top:15px; padding-left:10px;}

.dianhua { display:block; border-bottom:1px solid #ccc; background:url(a.jpg) no-repeat 10px; height:40px; padding-left:55px; padding-top:16px;}

.mid0 {}
.mid0_left { width:50%; line-height:20px; color:#666666; float:left; margin-right:20px; display:inline;}
.mid0_left h2 {font-size:16px; color:#006052; height:50px; line-height:50px;}
.mid0_right { float:right; width:470px}
.mid0_right  h2 {font-size:16px; color:#006052; height:50px; line-height:50px;}
.hot_pic { width:469px; height:199px;}

.mid00 { position:relative; }
.mid00 h2 { font-weight:normal; background:url(#DCDCDC) right no-repeat #DCDCDC; font-family:'TelefonicaHeadlineLightRegula',Arial,Helvetica,sans-serif; font-size:13px;height:40px; color:#009099; line-height:40px; padding-left:15px; text-transform:uppercase;}
.mid00 h2 a {}
.mid00 li { width:320px;float:left; display:inline;}
.mid00 li dl {line-height:18px; border-left:1px solid #E2E2E2; border-right:1px solid #E2E2E2;}
.mid00 li dt { padding-left:15px; border-bottom:1px solid #E2E2E2; height:55px;}
.mid00 li dt a {background:url("magAbg.gif") no-repeat scroll right center rgba(0, 0, 0, 0); padding:9px 10px 9px 20px; float:left; width:300px;}
.mid00 li dt a .tt { color:#F98300; display:block; font-size:15px; font-weight:bold; letter-spacing:-1px; margin-bottom:1px;}
.mid00 li dt a:hover { background-position:20px center; padding-left:43px; padding-right:0;}

.mid00 li dt span { color:#B2B2B2; margin-right:5px;}

.mid001 { width:340px; background:url(line_bg.gif) repeat-y right; padding-left:15px}
.mid001 ul { list-style:none;}
.mid001 li { list-style:none; margin:8px 0; padding-left:8px; background:url(arrow00.jpg) no-repeat 0 5PX;}
.mid001 li a{ color:#666666; }
.mid002 { width:320px; position:absolute; top:0; right:295px;  background:url(line_bg.gif) repeat-y right;}
.mid002 ul { list-style:none;}
.mid002 li { list-style:none; margin:8px 0; padding-left:8px; background:url(arrow00.jpg) no-repeat 0 5PX;}
.mid002 span { color:#999999}
.mid002 a{ color: #666666; margin:0 10px;}
.mid003 { width:260px; position:absolute; top:0; right:0;}
.mid003 ul { list-style:none;}
.mid003 li { list-style:none; margin:8px 0; padding-left:8px; background:url(arrow00.jpg) no-repeat 0 5PX;}

.mid{ margin:10px 0;}

.mid_left { width:210px; float:left;margin-right:10px; line-height:17px;background:url(line_bg.gif) repeat-y right; }
.mid_list1{ width:200px;}
.mid_list1 h2{ font-size:16px; font-weight:normal; margin:0 0 10px 0; color: #333333; border-bottom:3px solid #666; width:185px; height:33px; line-height:33px; padding-left:10px;}
.mid_list1 ul{ list-style:none; margin:0 5px }
.mid_list1 li{ display:block; padding-left:20px; color:#666666; background:url(arrow.gif) no-repeat 170px 10px; line-height:22px;  border-bottom:1px solid #eee;}
.mid_list1 li a{ color:#666666;}
li.big_class { background:url(arrow00.jpg) no-repeat 8px 10px #eee; padding:0 0 0 20px; line-height:25px; border-bottom:1px solid #EAEAEA ; }
li.big_class a { color:#000000;}

.mid_right{ height:auto; float:right; width:760px}
.mid_right h2{color:#006230; background:url(red_bg.jpg) repeat-x;  line-height:40px; font-size:1.5em; font-weight:normal; border-bottom:1px solid #eee;}
.mid_right_body { margin:10px 0;}
.mid_right_body ul{ padding:0; margin:0; list-style:none;}
.mid_right_body li{ padding:10px; margin:0 10px 0 0; list-style:none; float:left; border:1px solid #ccc; width:227px;}
.company { padding:15px; background:#e1e1e1; line-height:25px; color:#000000;}
.company_left{width:180px; float:left; margin-right:10px;}
.company_right { float:left; width:400px; margin-top:20px; line-height:20px;}
.content{ line-height:20px; padding:15px 0;}

.clr {clear:both;}
.clr1 {clear:both; margin-bottom:15px;}

.bottom { margin-top:10px; clear:both; color: #999999; line-height:20px; position:relative;}
.bottom a{ color:#006230; margin:0 5px;}
.bottom-tt { color:#ccc; padding:10px 20px; position:relative; background:#f7f7f7} 
.bottom-tt a { color:#487F00;}
.bottom li { width:200px; float:left;}
.bottom li h2 a { color:#FFFFFF; font-size:14px;}
.bottom li dt {}

.equipment li{ width:280px; float:left; margin:10px; display:inline;}
.equipment li img { border:1px solid #ccc; padding:1px;}

.ts-xuan-list{position: absolute;left: 0px;width: 125px;z-index: 100;top: 46px;background: none repeat scroll 0px 0px #FFF;border: 1px solid rgba(0, 0, 0, 0.2); display:none;}
.ts-xuan-list ul li:hover{background:#000}
.ts-xuan-list ul li a{ padding:0 0 0 25px; display:block; margin:0px;}
.ts-xuan-list ul li a:hover{ color:#FFF}

.denglu { position:absolute; right:0px; top:9px; }
.denglu input.l-kuang{border:1px solid #8B8D91;border-radius:5px; box-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
color:#ccc; display:inline-block; font-family:Arial,Helvetica,sans-serif; width:100px; height:18px; padding:3px 12px; margin:0 1px 0 0;}
.l-btn { border:none; background:url(login.png); width:70px; padding-left:3px; height:25px; line-height:25px;  color:#007F00; font-family:Arial, Helvetica, sans-serif; display:inline-block; text-align:left; box-shadow:0 1px 0 rgba(255, 255, 255, 0.5)}

/**/
div.page{text-align:center; margin-top:20px}
span.page{float: left;
padding: 0px 14px;
line-height: 38px;
text-decoration: none;
border-width: 1px 1px 1px 0px;
border-style: solid;
border-color: #DDD;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
}
div.inner_tb>span.page:first-child{ border-left:1px solid #DDDDDD; }
div.inner_tb{display:inline-block;}

body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;line-height:20px;color:#000;}.modal{position:fixed;top:50%;left:50%;z-index:1050;background-color:#FFF;border:1px solid rgba(0,0,0,0.3);border-radius:6px;box-shadow:0px 3px 7px rgba(0,0,0,0.3);background-clip:padding-box;display:none;}.modal-header{padding:9px 15px;border-bottom:1px solid #EEE;}modal-header .close{margin-top:2px;}.close{float:right;font-size:20px;font-weight:bold;line-height:20px;color:#000;text-shadow:0px 1px 0px #FFF;opacity:0.2; cursor:pointer;}h3{line-height:30px;margin-bottom:10px;font-size:1.3em;}h1,h2,h3,h4,h5,h6{margin:0px;font-family:inherit;font-weight:bold;color:inherit;text-rendering:optimizelegibility;}h5{font-size:0.9em;}.modal-body{overflow-y:auto;max-height:400px;padding:15px;}.mbn{margin-bottom:0px !important;}fieldset{padding:0px;margin:0px;border:0px none;}textarea{display:inline-block;width:210px;height:auto;padding:4px;margin-bottom:9px;font-size:13px;line-height:20px;color:#777;border:1px solid #CCC;border-radius:3px;}input[type="hidden"]{display:none;}.line{overflow:hidden;}pull-left{float:left;}.mrl{margin-right:42px !important;}.controls > .radio:first-child,.controls > .checkbox:first-child{padding-top:5px;}.pull-left{float:left;}.mrl{margin-right:42px !important;}.ptn{padding-top:0px !important;}.radio input[type="radio"],.checkbox input[type="checkbox"]{float:left;margin-left:-18px;}.label-success{background-color:#98B64D;background-image:-moz-linear-gradient(center top,#A8C65B,#819E37);background-repeat:repeat-x;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);}.label{padding:1px 4px 2px;font-size:10.998px;font-weight:bold;line-height:13px;color:#FFF;vertical-align:middle;white-space:nowrap;text-shadow:0px -1px 0px rgba(0,0,0,0.25);background-color:#BBB;border-radius:3px;}[class^="icon-"]:before,[class*=" icon-"]:before{font-family:'iconfont';font-style:normal;font-weight:normal;display:inline-block;text-decoration:inherit;text-align:center;vertical-align:text-bottom;font-size:14px;width:14px;height:14px;line-height:14px;}label-inverse{background-color:#333;}.label-important{background-color:#EB1210;background-image:-moz-linear-gradient(center top,#FF1D1B,#CD0200);background-repeat:repeat-x;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);}.cl{clear:both;}.control-group{margin-bottom:10px;}textarea.full,input.full,select.full{width:97%;padding-left:3px;padding-right:3px;}.help-inline{display:inline-block;vertical-align:middle;padding-left:5px;}input,textarea{box-shadow:0px 1px 1px rgba(0,0,0,0.075) inset;transition:border 0.2s linear 0s,box-shadow 0.2s linear 0s;}.btn{display:inline-block;padding:10px 20px;margin-bottom:0px;font-size:13px;line-height:19px;color:#333;text-align:center;text-shadow:0px 1px 1px rgba(255,255,255,0.75);vertical-align:middle;background-color:#F8F8F8;background-image:-moz-linear-gradient(center top,#FFF,#EEE);background-repeat:repeat-x;border-width:1px;border-style:solid;border-color:#CCC #CCC #B3B3B3;-moz-border-top-colors:none;-moz-border-right-colors:none;-moz-border-bottom-colors:none;-moz-border-left-colors:none;border-image:none;border-radius:4px;box-shadow:0px 1px 0px rgba(255,255,255,0.2) inset,0px 1px 2px rgba(0,0,0,0.05);cursor:pointer;}.btn-primary{background-color:#0FA1EB;background-image:-moz-linear-gradient(center top,#1AB2FF,#08C);background-repeat:repeat-x;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);}.modal-footer{padding:14px 15px 15px;margin-bottom:0px;text-align:right;background-color:#F5F5F5;border-top:1px solid #DDD;border-radius:0px 0px 6px 6px;box-shadow:0px 1px 0px #FFF inset;}
.form-control {
    display: block;
    width: 100%;
    height: 31px;
    font-size: 13px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.controls{ margin:10px;}
.form-control:focus {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}
.login-form{width:100%;height:100%}
.login-form .form-group{ margin-right:20px;}
.login-form .btn-primary{color: #FFF;background-color: #428BCA;border-color: #357EBD;float: left;opacity: 0.8;}
.login-form .btn{padding: 6px 12px;background-image: none;line-height:14px;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
#login-modal .close{position:absolute; background:url('login_close.png');width:36px; height:36px; right:-12px; top:-12px;opacity: 1;}
.login{padding:30px; width:776px; height:230px; position:relative}
.login-right{font-size:17px; font-weight:700;}
ul.extlogin-links > li {
    background-color: #FFF;
    border: 1px solid #BABABA;
    border-radius: 5px;
    width: 83px;
    padding: 0px;
    margin-right: 14px;
    box-shadow: 0px 1px 2px rgba(203, 200, 194, 0.25), 1px 1px 1px rgba(255, 255, 255, 0.65) inset;
    background-image: -moz-linear-gradient(center bottom , #E6E6E6 0px, #FFF 100%);
    overflow: hidden;
    height:35px;
	float:left;
	margin: 15px 14px 0px 0px;
}
ul.extlogin-links>li>a{display:block;text-align:center;}
.sprite{margin:3px auto; width: 55px;height: 29px;text-indent: -999px;background: url('logo_sprites2.png')}
.sprite-logo_facebook_s{background-position: 0px -58px;overflow: hidden;}
.sprite-logo_qq_s{background-position: 0px -175px;overflow: hidden;}
.sprite-logo_sina_s{background-position:15px -215px;overflow: hidden;}
.sprite-logo_google_s{background-position:0px -95px;overflow: hidden;}
.sprite-logo_linkedin_s{background-position:0px -135px;overflow: hidden;}
.sprite-logo_yahoo_s{background-position:0px -310px;overflow: hidden;width: 70px;}
.caret {    border-top: 4px solid #FFF;    border-right: 4px solid transparent;    border-left: 4px solid transparent;    content: "";    display: inline-block;    height: 0;   vertical-align: top;    width: 0;}
.denglu .caret{margin-top: 16px;}
#filter .caret{margin-left: 15px;    margin-top: 21px;}
.dropmenu{    position: absolute;    top: 100%;    left: 0px;    z-index: 1000;    float: left;    min-width: 160px;    list-style: none outside none;    background-color: #FFF;    border: 1px solid rgba(0, 0, 0, 0.2);    border-radius: 6px;    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);    background-clip: padding-box;    display: none;}
.dropmenu li{width: 100%;text-align: left;background: none;}
.dropmenu1{margin-left:30px;}
.dropmenu1 li a{color:#666;}
.dropmenu1 li a:hover{color:#FFF; background:#000;border-radius: 6px;}
.dropmenu2 li{line-height:30px;}
.dropmenu2 li a{color:#666;}
.dropmenu2 li a:hover{color:#FFF; background:#000;border-radius: 6px;}

.gallery_list {width:240px; height:370px;float:left;margin: 0}
.gallery_list .topWarp{margin: 0 auto;width: 164px}
.Photo160{width:160px; height:160px;}
.gallery_list .proCon{ padding:5px 0;}
.gallery_list .proProperty {
    color: #787773;
    line-height: 1.2;
    padding: 3px 0;
	font-size: 12px;
}
.gallery_list .name{color:#009999;}
.gallery_list .product_name{color:#246bb3}
.gallery_list .fav{ padding:5px 0;}