body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #333;
    background: #fff;
    font:12px/1.5 Tahoma,Arial,"宋体",sans-serif;
    behavior:url('csshover.htc'); min-width:1200px;
}
a {
    color: #000000;
    text-decoration: none;
}
a:hover {
    color:#FF5500; 
    text-decoration: none;
}
.w1200 {
    width: 1200px;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-width: 1200px;
}
/*desktop*/
@media screen and (min-width: 1025px) {
    .container {
        width: 1200px;
        margin-left: 7%;
        margin-top: 2%;
    }
}
@media screen and (max-width: 1025px) {
    .container {
        transform: scale(.85);
        margin-top: -4.5%;
    }
}
/*.top {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    height: 30px;
    padding-top: 6px;
    text-align: center;
    line-height: 22px;
    color: #666666;
    font-size: 14px;
}
.blank {
    width: 82%;
}
.hello {
    width: 6%;
}
.signIn {
    width: 6%;
    cursor: pointer;
}
.signIn:hover, .language:hover {
    color: #018203;
}
.language {
    width: 6%;
    cursor: pointer;
}
.introduce {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: nowrap;
    height: 40px;
}
.introduce-img {
    margin-left: 15px;
}
.introduce-search {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: nowrap;
    width: 50%;
    margin-left: 35%;
    height: 40px;
    border: 2px solid #018203;
    border-radius: 6px;
}
.search-select {
    width: 20%;
    padding-left: 2%;
}
.search-select select {
    height: 40px;
    width: 100%;
    margin-left: 2px;
    border-radius: 5px;
    border: 0;
    font-size: 15px;
    text-align: center;
    outline: none;
}
.search-input {
    width: 58%;
    height: 40px;
    margin-left: 2%;
}
.search-input input {
    height: 96%;
    width: 100%;
    border: 0;
    outline: none;
}
.search-search {
    width: 20%;
    height: 40px;
    background-color: #018203;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.search-search:hover {
    opacity: .8;
}
.fa-search {
    margin-right: 8px;
}
.menu {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: nowrap;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #018203;
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
}
.menu-item {
    margin-right: 6px;
    cursor: pointer;
}
.dropMenu {
    width: 22%;
}
.home,.magazine {
    width: 8%;
}
.verified {
    width: 12%;
}
.endMarket {
    width: 10%;
}
.topTen {
    width: 18%;
}
.menuCur, .menuActive {
    background: rgba(225, 225, 225, .5);
}*/
.content {
    display: flex;
    display: -ms-flexbox;
}
.slider, .slider .slider-img {
    overflow: hidden;
    height: 300px;
    width: 100%;
}
.slider-img-ul {
    margin-left: -40px;
}
.slider-img ul li {
    list-style: none;
}
.slider {
    width: 1200px;
    margin: auto;
    position: relative;
}
.slider:hover .slider-btn {
    color: #fff;
    text-shadow: 0 0 5px #666;
}
.slider .slider-img {
    width: 1200px;
    position: relative;
}
.slider .slider-img .slider-img-ul {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.slider .slider-img .slider-img-ul li {
    float: left;
}
.slider .slider-img .slider-img-ul li img {
    width: 1200px;
    height: 300px;
}
.slider .slider-dot ul {
    position: absolute;
    list-style: none;
    left: 540px;
    bottom: 10px;
}
.slider .slider-dot ul li {
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    border: 2px solid #fff;
    float: left;
    margin-left: 10px;
}
.slider .slider-dot ul li.active, .slider .slider-dot ul li:hover {
    background: #fff;
}
.slider .slider-btn {
    position: absolute;
    width: 50px;
    height: 100px;
    top: 50%;
    line-height: 100px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    text-decoration: none;
    font-family: '黑体';
    color: rgba(255, 255, 255, 0);
}
.slider .slider-btn:hover {
    background: rgba(125, 125, 125, .3);
}
.slider .slider-btn.slider-btn-left {
    left: 0;
    margin-top: -50px;
}
.slider .slider-btn.slider-btn-right {
    right: 0;
    margin-top: -50px;
}
.mag-intro {
    margin: 4% 8%;
    height: 110px;
    font-size: 19px;
    font-weight: 500;
    font-family: Tahoma;
    text-align: justify;
    margin-bottom: -20px;
}
.mag {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    margin: 3% 8%;
}
.mag-item {
    background: url(../img/read-bg.png) no-repeat left top;
    width: 254px;
    height: 329px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.mag-item img {
	margin-left: 17px;
	margin-top: 2px;
    width: 220px;
    height: 300px;
} 
.mag-item p {
    font-size: 15px;
    color: #333;
    text-align: center;
    line-height: 12px;
}

.img {
    display: flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    margin: 3% 8%;
}
.img-item {
    width: 254px;
    height: 329px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.img-item img {
    margin-left: 17px;
    margin-top: 2px;
    width: 300px;
    height: 200px;
    border: 1px solid rgba(121, 121, 121, 1);
} 


.tt0 { background:#EFE8EB; height:35px; line-height:35px;}
.tt { width:1000px; margin:0 auto;}
.tt a{float: left; margin:0 10px; padding-left:10px; display:block; color:#666; float:left;}
.bottom {border-top:1px solid #DFDFDF; padding:20px; clear:both; color:#666; text-align:center;}

/*top-line*/
.top-line0 { background:#CD3015; height:29px;line-height:29px; border-bottom:1px solid #CC3115;}
.top-line { margin:0 auto; width:1200px; color:#666666; position:relative;color:#FFB5A0;}
.top-line a { color:#FFB5A0; margin:0 5px;}
.top-line-r { position:absolute; right:0; top:0; color:#E33300;}
.top-linr-r a {color:#FFB5A0;}
a.quick{background:url(arrow1.jpg) no-repeat right; padding-right:15px;}
/*top-line*/

.total { width:1200px; margin:0 auto; height:auto !important; background:#FFFFFF; } 

/*top*/
.top0 { height:90px; background:#D62F00;}
.top {color:#7D7D7D; width:1200px; margin:0 auto;  }
.top_left { float:left; padding-top:18px;}
.top_right { float:right; position:relative;}
.search {float: right;height: 34px;width: 566px; position:absolute; right:0; top:20px; margin-bottom:5px;}
.search input {border: 0 none;background:url(../img/search-bg.jpg) repeat-x;float: left; font-size:12px; color:#999999;height: 34px;line-height: 34px;padding: 0 0 0 10px;width: 480px;}   
.search button {background: url(../img/search-btn.jpg) repeat-x;color: #FFFFFF;cursor: pointer;font-size: 14px; font-weight:bold;height: 34px; line-height:34px; float:left; display:inline;width: 74px; border:none;}
.search button:hover { background:#866150;}
.gjz { margin:5px 0 0 10px; color:#FF7F5A; }
.gjz a {color:#FF7F5A; margin:0 5px 0 0; line-height:20px;}
/*top*/

/*nav*/
.nav0 { background:#AC2600; height:38px; line-height:38px; font-size:14px; border-top:1px solid #9D2301; position:relative;} 
.nav { width:1200px; margin:0 auto;position:relative; font-family:"微软雅黑","黑体","文泉驿正黑体","华文细黑";}
.nav1{ width:196px;background: url(../img/ar.jpg) no-repeat 185px 15px #821D00; color:#FFFFFF; padding-left:15px; position:relative; }

.nav2{ position:absolute; left:220px; top:0;}
.nav2 li{ float:left; text-align:center; }
.nav2 ul,li { margin: 0; padding: 0; list-style:none;}
.nav2 a{ color:#FFFFFF; font-size:14px; display:block; padding:0 25px; text-align:center; font-family:"微软雅黑","黑体","文泉驿正黑体","华文细黑";}
.nav2 a:hover { color:#D62F00; background:#fff;}
.nav3 { position:absolute; top:0; background: url(../img/arrow-gray.jpg) no-repeat 173px 10px #FFFFFF; width:180px; padding-left:10px; height:28px; color: #666666;font:12px/28px tahoma,arial,宋体; cursor:pointer;margin: 5px -600px 5px 0;right: 50%;}