*{
    margin: 0;
    padding: 0;
}
body {
    font-family:"Microsoft yahei";
}
.q1{
    width: 100%;
    height: 650px;  
    margin-top:80px; 
}
.q1 img {
    position: absolute;
    width: 100%;
    height: 650px;
}
.q1Title {
    position: relative;
    width: 80%;
    z-index: 5;
    font-size: 66px;
    top: 280px;
    left: 13vw;
    color: #fff;
}
.q1Button {
    position: relative;
    background-color: #69c2ee;
    width: 110px;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    top: 43vh;
    left: 18vw;
    cursor: pointer;
}
.q2 {
    width: 82%;
    height: 640px;
    margin-top: 50px;
    margin-left: 9%;
}
.q2 p {
    width: 60%;
    margin-left: 20%;
    text-align: left;
    font-size: 22px;
    font-family: "微软雅黑";
    font-size: 16px;
    line-height: 35px;
    color: #333;
}
.blog p {
    font-size: 16px;
    color: #000;
}
.blog .line {
    width: 61%;
    height: 2px;
    margin-left: 20%;
    background-color: #69c2ee;
}
.blog input {
    width: 60%;
    height: 40px;
    margin-left: 20%;
    margin-top: 20px;
    border: 1px solid #e7e7eb;
    padding-left: 20px;
    font-size: 16px;
    line-height: 40px;
}
.blog textarea {
    width: 60%;
    height: 150px;
    margin-left: 20%;
    margin-top: 20px;
    border: 1px solid #e7e7eb;
    padding-left: 20px;
    font-size: 16px;
    line-height: 40px;
    font-family: "Microsoft yahei"
}
.submit {
    color: #fff;
    background-color: #69c2ee;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    width: 60px;
    height: 30px;
    border: none;
    margin-left: 20%;
    margin-top: 15px;
    cursor: pointer;
}
.q3 {
    width: 100%;
    height: 172px;
    background-color:lightblue;
}
.q3 img {
    width: 100%;
    height: auto;
}