*{
    margin: 0;
    padding: 0;
}
body {
    font-family:"Microsoft yahei";
}
.menu {
    display: none;
}


.q1{
    width: 100%;
    height: 620px;  
    margin-top:80px; 
}
.q1 img {
    position: absolute;
    width: 100%;
    height: 620px;
}
.q1Title {
    position: relative;
    width: 48%;
    z-index: 5;
    font-size: 46px;
    color:#fff;
    top: 18vw;
    left: 49vw;
    text-align: center;
}

.q2 {
    width: 70%;
    height: 1000px;
    margin-top: 50px;
    margin-left: 15%;
}
.q2Title {
    font-family: "Microsoft Yahei";
    font-size: 40px;
    line-height: 52px;
}
.q2Content {
    font-size: 15px;
    line-height: 25px;
    color: #545454;
    margin-top: 20px;
}
.q2Containera {
    display: flex;
    display: -ms-flexbox;
    width: 100%;
    margin-top: 20px;
    opacity: 1;
}
.q2Containera img {
    width: 100%;
    height: 500px;
}
