*{
    margin: 0;
    padding: 0;
}
body {
    font-family:"Microsoft yahei";
}
/* product1的css代码 */
.position {
    height: 50px;
    padding-top: 115px;
    margin-top: 80px;
}
.q1 {
    width: 70%;
    height: 500px;
    margin-left: 15%;
    margin-top: 0;
}
.q1 p {
    text-align: center;
    font-size: 24px;
    line-height: 26px;
}
.q1Contentp {
    font-size: 14px;
    line-height: 24px;
    color: #7f7f7f;
}
.q2 {
    display: flex;
    display: -ms-flex;
    width: 70%;
    height: 750px;
    margin-left: 15%;
}
.q2Left {
    display: flex;
    display: -ms-flex;
    width: 100%;
    height: 665px;
}
.q2LCatalog {
    width: 6%;
    height: 665px;
}
.q2LCItem {
    width: 100%;
    height: 60px;
    background-color: #4e4e4e;
    text-align: center;
    line-height: 60px;
    margin-bottom: 5px;
    cursor: pointer;
    color: #fff;
}
@media screen and (max-width:1024px) {
    .q2LCItem {
        font-size: 12px;
    }
}
.q2LTitle {
    width: 94%;
    min-height: 665px;
    background-color: #ddd;
}
.q2LTContainer {
    width: 88%;
    min-height: 220px;
    margin-left: 6%;
    margin-top: 3%;
    background-color: #ddd;   
}
.q2LTContainer p {
    font-size:  20px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}
.q2LTContainer ul {
    margin-top: 30px;
}
.q2LTContainer ul li {
    list-style: none;
    margin-bottom: 10px;   
}
.q2LTItem {
    width: 100%;
    min-height: 100px;
    background-color: #fff;
    padding-left: 15px;
}
.q2LTItem p {
    text-align: justify;
    font-size: 17px;
    line-height: 45px;
    font-weight: normal;
}
.q2LTItem p:before {
    content: "●";
    margin-right: 6px;
    line-height: 45px;
}
#q2LTitle2, #q2LTitle3, #q2LTitle4, #q2LTitle5, #q2LTitle6, #q2LTitle7, #q2LTitle8, #q2LTitle9, #q2LTitle10{
    display: none;
} 
.itemActive {
    background-color: #ddd;
    color: #000;
}

.q3 {
    height: 540px;
    width: 100%;
    background: url(../img/solution/bg-easy.png);
}
.q3Container {
    width: 70%;
    height: 540px;
    margin-left: 15%;
}
@media screen and (max-width:1024px) {
    .q3Container {
        width: 88%;
        margin-left: 6%;
    }
}
.q3Title {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    margin-left: 0;
    color: #fff;
    top: 20px;
    font-size: 28px;
    text-align: center;
}
.q3ItemContainer {
    display: flex;
    display: -ms-flexbox;
    width: 100%;
    height: 300px;
    margin-left: 0;
    margin-top: 50px;
    opacity: 1;
}
.q3Items {
    opacity: 1;
    height: 280px;
    width: 25%;
    margin-left: 2%;
    border-radius: 5px;
    background-color: #fff;
}
.q3Imgs {
    width: 100%;
    height: 150px;
}
.q3Imgs p {
    text-align: center;
}
.q3Imgs img {
    position: relative;
    margin-top: 30px;
    width: 70px;
    height: auto;
}
.q3Contents {
    width: 80%;
    height: 130px;
    margin-top: -23px;
    margin-left: 10%;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #333;
}
.q3Contents span {
    font-size: 12px;
    line-height: 19px;
}
.q4 {
    display: block;
    width: 70%;
    margin-left: 15%;
    height: 350px;
    opacity: 1;
}
.q4 p {
    text-align: center;
    font-size: 24px;
    line-height: 26px;
}