*{
    margin: 0;
    padding: 0;
}
body {
    font-family:"Microsoft yahei";
}
.menu {
    display: none;
}

    
/* product1的css代码 */
.position {
    height: 50px;
    padding-top: 115px;
    margin-top: 80px;
}
.q1 {
    width: 70%;
    height: 500px;
    margin-left: 15%;
    margin-top: 0;
}
.q1 p {
    font-size: 24px;
    line-height: 26px;
}
.q1Contentp {
    font-size: 14px;
    line-height: 24px;
    color: #7f7f7f;
}