*{
    margin: 0;
    padding: 0;
}
body {
    font-family:"Microsoft yahei";
}
.q1 {
	width: 100%;
	height: 380px;
}
.q1Item img {
    height: 380px;
}
.q1Title {
	color: #fff;
	position: relative;
    width: 80%;
    z-index: 5;
    font-size: 55px;
    top: 150px;
    left: 150px;
}
@media screen and (max-width:1024px) {
	.q1 {
		width: 100%;
		height: 300px;
	}
    .q1Item img {
	    height: 300px;
	}
	.q1Title {
	    font-size: 45px;
	    top: 120px;
	    left: 120px;
	}
}