*{
    margin: 0;
    padding: 0;
}
body {
    font-family:"Microsoft yahei";
}

/* solution的css代码 */
.position {
    height: 10px;
    padding-top: 115px;
    margin-top: 80px;
    margin-bottom: -210px;
}
.q1s {
    width: 70%;
    min-height: 1000px; 
    margin-top: 250px;
    margin-left: 15%;
    font-size: 28px;
    text-align: justify;
    color: #000;
    line-height: 200px;
    z-index: 5;
}
.q1Titles {
    font-size: 32px;
    line-height: 42px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}
.q1Contents {
    width: 100%;
    min-height: 800px;
}
.q1Contents p {
    font-family: verdana;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 15px;
}
.q1Contents p span {
    color: #ff0000;
    font-weight: bold;
}
.q1CTitle {
    margin-top: 15px;
    color: #ff0000;
    font-weight: bold;
}
.q1Contents ul li {
    font-family: verdana;
    font-size: 14px;
    line-height: 28px;
    margin-left: 20px;
}