*{
    margin: 0;
    padding: 0;
}
body {
    font-family:"Microsoft yahei";
}
.menu {
    display: none;
}

.q1 {
    width: 100%;
    height: 2600px;
    padding-top: 100px;
}
.q1Container {
    width: 70%;
    height: 100%;
    margin-left: 15%;
}
.q1Item {
    display: flex;
    display: -ms-flexbox;
    width: 100%;
    height: 300px;
}
.q1ItemLeft {
    width: 13%;
    margin-right: 5%;
    font-size: 40px;
    color: #727272;
}
.q1ItemRight {
    width: 80%;
}
.q1ItemTitle {
    font-size: 25px;
    color: #222;
    line-height: 32px;
    cursor: pointer;
}
.q1ItemTitle a {
    color: #222;
    text-decoration: none;
}
.q1ItemTitle a:hover {
    color: rgb(29,81,152);
}
.q1ItemTime {
    margin-top: 5px;
    font-size: 14px;
    color: #999;
    line-height: 30px;
}
.q1ItemContent,.q1ItemMore {
    font-size: 16px;
    color: #666;
    line-height: 24px;
}
.q1ItemContent a {
    color: #666;
    text-decoration: none;
}
.q1ItemMore {
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}
.q1ItemMore a {
    text-decoration: none;
    color: #666;
}
.q1ItemMore:hover {
    color: rgb(29,81,152);
}
.q1Item img {
    width: 150px;
    height: 100px;
}