*{
    margin: 0;
    padding: 0;
}
body {
    font-family:"Microsoft yahei";
}
.menu {
    display: none;
}

    
/* product的css代码 */

.q1{
    width: 100%;
    height: 500px;  
    margin-top:80px; 
}
.q1 img {
    position: absolute;
    width: 100%;
    height: 500px;
}
.q1Title {
    position: relative;
    width: 80%;
    z-index: 5;
    font-size: 55px;
    top: 200px;
    left: 120px;
    color: #3e3f3f;
}
.q1Button {
    position: relative;
    background-color: #69c2ee;
    width: 110px;
    height: 35px;
    line-height: 35px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    top: 43vh;
    left: 18vw;
    cursor: pointer;
}

.q2 {
     width: 70%;
     height: 420px;
     margin-left: 15%;
}
.q2Title {
    width: 100%;
    text-align: center;
    font-size: 42px;
    font-weight: 900;
    color: #000;
}
.q2Containerp {
    display: flex;
    display: -ms-flexbox;
    width: 100%;
    height: 100px;
    margin-top: 40px;
}
.q2Item1 {
    width: 33%;
    height: 100px;
    padding: 15px 15px;
    border-right: 1px solid #dedede;
    text-align: center;
}
.q2Item1 p {
    font-size: 23px;
    color: #0070cc;
    text-align: center;
    font-family: "微软雅黑"
    font-weight: bold;
}
.q2Item1 span {
    font-size: 16px;
    line-height: 28px;
    color: #595959;
    text-align: center;
}
.q3 {
    display: flex;
    display: -ms-flexbox;
    width: 100%;
    height: 450px;
    background: url(../img/product/q3.jpg);
}
.q3Containerp {
    display: flex;
    display: -ms-flexbox;
    width: 70%;
    height: 250px;
    margin: auto;
}
.q3Itemp {
    width: 19%;
    margin-right: 2%;
    height: 250px;
    text-align: center;
}
.q3Itemp a {
    text-decoration: none;
    display: block;
}
.q3Imgp {
    display: flex;
    display: -ms-flexbox;
    width: 100%;
    height: 150px;
}
.q3ImgContainerp {
    width: 100px;
    height: 100px;
    margin: auto;
}
.q3ImgContainerp img {
    position: relative;
    width: 100px;
    height: 100px;
    -webkit-transition: 0.6s;
    -webkit-transition: -webkit-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
}
.q3ImgContainerp img:hover {
    transform: rotate3d(0,1,0,180deg);
    -webkit-transform: rotate3d(0,1,0,180deg);
    -moz-transform: rotate3d(0,1,0,180deg);
}
.q3Contentp {
    width: 100%;
    height: 100px;
    font-size: 25px;
    line-height: 36px;
    color: #333;
    text-align: center;
}
.q3Contentp span {
    font-size: 16px;
    line-height: 22px;
    color: #666;
}
.q4 {
    width: 40%;
    height: 250px;
    margin-left: 30%;
    opacity: 1;
    margin-top: 0;
}
.q4Containerp {
    width: 100%;
    margin: auto;
    text-align: center;
}
.q4 p {
    font-size: 30px;
    line-height: 60px;
}
.q4ForButton {
    display: flex;
    display: -ms-flexbox;
    width: 80%;
    margin-left: 10%;
    height: 60px;
}
.q4ButtonContainer {
    display: flex;
    display: -ms-flexbox;
    width: 50%;
    height: 60px;
}
.q4Button {
    width: 100px;
    height: 45px;
    margin: auto;
    font-size: 18px;
    line-height: 45px;
    color: #fff;
}