*{
    margin: 0;
    padding: 0;
}
body {
    font-family:"Microsoft yahei";
}
.menu {
    display: none;
}

/*PC和ipad*/
@media screen and (min-width:750px) {
    
    /* solution的css代码 */
    .q1{
        width: 100%;
        height: 500px;  
        margin-top:80px; 
    }
    .q1 img {
        position: absolute;
        width: 100%;
        height: 500px;
    }
    .q1Title {
        position: relative;
        width: 80%;
        z-index: 5;
        font-size: 35px;
        top: 30vh;
        left: 13vw;
        color: #3e3f3f;
    }
    .q2 {
        width: 100%;
        height: 800px;
    }
    .q2Containers {
        display: flex;
        display: -ms-flexbox;
        width: 76%;
        height: 150px;
        margin-left: 15%;
        margin-bottom: 25px;
    }
    .q2Items {
        width: 45%;
        height: 150px;
        margin-top: 0;
        margin-right: 3%;
        background-color: #f0f1f0;
        cursor: pointer;
    }
    .q2ItemBox {
        display: flex;
        display: -ms-flexbox;
        width: 100%;
        height: 150px;
        border: 1px solid #fff;
    }
    .q2ItemImg {
        display: flex;
        display: -ms-flexbox;
        width: 30%;
        height: 100px;
    }
    .q2ItemImg img {
        margin: auto;
        padding-top: 40px;
        width: 70px;
        height: 70px;
        padding-left: 10px;
    }
    .q2ItemContent {
        width: 70%;
        height: 150px;
        text-align: justify;
        padding: 15px 15px;
    }
    .q2ItemContent p {
        font-size: 18px;
        line-height: 25px;
    }
    .q2ItemContent hr {
        margin-top: 12px;
        color: #dfdfdf;
    }
    .q2ItemContent span {
        font-size: 15px;
        line-height: 22px;
        color: #656565;
    }
}


/*ipad自己的样式*/
@media screen and (max-width: 1024px) and (min-width: 751px) {
    .logo{
        transform: scale(.88);
        margin-left: -40px;
    }
    .nav_bar {
        width: 40vw;
        margin-left: 100px;
    }
    .nav_bar ul li{
        width:6vw;
    }
    .q2Container {
        width: 90%;
    }
    .q2 {
        height: 450px;
    }
    .q2Item .q2Title {
        margin-top: 20px;
        font-size: 18px;
        line-height: 22px;
    }
}

/*mobile*/
@media screen and (max-width: 750px) {

    .desktop {
        display: none;
    }
    .other {
        display: block;
        position: relative;
    }
    .top{
        width: 100%;
        height: 60px;
        font-size: 25px;
    }
    .main{
        width: 100%;
        line-height: 60px;
        margin: 0 auto;
    }
    .logo {
        float: left;
    }
    .logo img {
        transform: scale(.68);
    }
    .nav_bar {
        color: #69c2ee;
        float: right;
        margin-right: 20px;
    }
    .q1{
        width: 100%;
        height: 100vh; 
        position: relative; 
        border: 1px solid #000;
    }
    .btn {
        width: 100px;
        height: 50px;
    }
    .q2{
        display: flex;
        display: -ms-flexbox;
        width: 100%;
        background: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
    }
    .q2Container {
        margin: auto;
        opacity: 1;
    }
    .q2Item {
        width: 100%;
        text-align: center;
    }
    .q2Item img {
        width: 50px;
        height: 50px;
    }
    .q3{
        width: 100%;
        height: 900px;
        border: 1px solid #000;
    }
    .html-body-overflow {
        overflow-y:hidden;
    }
    .menu {
        width: 70vw;
        height: 95vh;
        float: right;
        background-color: #fff;
        z-index: 1;
        margin-top: -80px;
        overflow-y:auto; 
    }
    .menu ul {
        margin-top: 20px;
    }
    .menu ul li {
        width: 100%;
        list-style: none;
        font-weight: 500;
        font-family: 宋体;
        color: #333333;
        line-height: 50px;
        font-size: 23px;
        border-bottom: 1px solid #dbdee0;
    }
    .menu .active {
        background-color: #b4b7ba;
        color:#fff;
    }
    .fa-angle-right {
        font-size: 28px;
        float: right;
        margin-top: 8px;
        margin-right: 20px;
    }

    /*橫屏*/ 
    @media screen and (orientation: landscape){
        .btn {
            margin-top: 60vh;
        }
        .q2{
            height: 630px;
        }
        .q2Container {
            width: 90%;
        }
        .q2Item {
            margin-top: 40px;
        }
        .q2Item .q2Title {
            margin-top: 18px;
            font-size: 16px;
            line-height: 31px;
        }
    }
    /*竖屏*/
    @media screen and (orientation: portrait){
        .btn {
            margin-top: 300px;
        }
        .q2{
            height: 800px;
        }
        .q2Container {
            width: 80%;
        }
        .q2Item {
            margin-top: 50px;
        }
        .q2Item .q2Title {
            margin-top: 15px;
            font-size: 18px;
            line-height: 31px;
        }
    }
}
