*{
    margin: 0;
    padding: 0;
}
body {
    font-family:"Microsoft yahei";
} 
/* solution的css代码 */
.q1{
    width: 100%;
    height: 430px;  
    margin-top:80px; 
}
.q1 img {
    position: absolute;
    width: 100%;
    height: 400px;
}
.q1Title {
    position: relative;
    width: 80%;
    z-index: 5;
    font-size: 35px;
    top: 200px;
    left: 120px;
    color: #3e3f3f;
}
.q2 {
    width: 70%;
    height: 300px;
    margin-left: 15%;
}
.q2Title {
    font-size: 25px;
    line-height: 26px;
    color: #333;
    text-align: center;
}
.q2Img {
    display: flex;
    display: -ms-flexbox;
    width: 100%;
    margin-top: 30px;
}
.q2ImgContainer {
    width: 100%;
    height: auto;
    margin: auto;
}
.q2Img img {
    width: 100%;
    height: auto;
}
.q2Content {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #333;
    margin-top: 20px;
}

.q3 {
    width: 100%;
    height: 650px;
    opacity: 1;
    margin-top: 100px;
}
.q3 p {
    margin-left: 15%;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
}
.q3Containers {
    display: flex;
    display: -ms-flexbox;
    width: 76%;
    height: 110px;
    margin-left: 15%;
    margin-bottom: 25px;
}
.q3Items {
    width: 22%;
    height: 110px;
    margin-top: 0;
    margin-right: 3%;
    background-color: #f0f1f0;
    cursor: pointer;
}
.q3Items a {
    display: block;
    text-decoration: none;
}
.q3ItemBox {
    display: flex;
    display: -ms-flexbox;
    width: 100%;
    height: 110px;
    border: 1px solid #fff;
}
.q3ItemImg {
    width: 40%;
    height: 100px;
}
.q3ItemImg p {
    text-align: center;
    margin-top: 25px;
}
.q3ItemImg img {
    position: relative;
    width: 50px;
    height: 50px;
    border:0 none
}
.q3ItemContent {
    width: 60%;
    height: 110px;
    text-align: center;
}
.q3ItemContent p {
    font-size: 15px;
    line-height: 110px;
    margin-left: 0;
    margin-bottom: 0;
    color: #000;
}
@media screen and (max-width:1024px) {
    .q3ItemContent p {
        font-size: 12px;
    }
}
.q3ItemContent p span {
    line-height: 20px;
}
.q3ItemContent hr {
    margin-top: 12px;
    color: #dfdfdf;
}
.q3ItemContent span {
    font-size: 15px;
    line-height: 22px;
    color: #656565;
}
.q3ItemCLong p {
    margin-top: 30px;
    line-height: 20px;
}
.q4 {
    width: 40%;
    height: 250px;
    margin-left: 30%;
    opacity: 1;
    margin-top: 0;
}
.q4Containerp {
    width: 100%;
    margin: auto;
    text-align: center;
}
.q4 p {
    font-size: 30px;
    line-height: 60px;
}
.q4ForButton {
    display: flex;
    display: -ms-flexbox;
    width: 80%;
    margin-left: 10%;
    height: 60px;
}
.q4ButtonContainer {
    display: flex;
    display: -ms-flexbox;
    width: 50%;
    height: 60px;
}
.q4Button {
    width: 100px;
    height: 45px;
    margin: auto;
    font-size: 18px;
    line-height: 45px;
    color: #fff;
}
.q4Button a {
    display: inline-block;
}