*{
    margin: 0;
    padding: 0;
}
body {
    font-family:"Microsoft yahei";
}
.menu {
    display: none;
}

/*PC和ipad*/
@media screen and (min-width:750px) {
    
    /* solution的css代码 */
    .q1{
        width: 100%;
        height: 430px;  
        margin-top:80px; 
    }
    .q1 img {
        position: absolute;
        width: 100%;
        height: 430px;
    }
    .q1Title {
        position: relative;
        width: 80%;
        z-index: 5;
        font-size: 35px;
        top: 30vh;
        left: 13vw;
        color: #3e3f3f;
    }
    .q2 {
        width: 100%;
        height: 300px;
    }
    .q2Title {
        font-size: 25px;
        line-height: 26px;
        color: #333;
        text-align: center;
    }
    .q2Img {
        width: 50%;
        margin-left: 15%;
        margin-top: 30px;
    }
    .q2Content {
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        color: #333;
        margin-top: 20px;
    }

    .q3 {
        width: 100%;
        height: 650px;
        opacity: 1;
        margin-top: 100px;
    }
    .q3 p {
        margin-left: 15%;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
    }
    .q3Containers {
        display: flex;
        display: -ms-flexbox;
        width: 76%;
        height: 110px;
        margin-left: 15%;
        margin-bottom: 25px;
    }
    .q3Items {
        width: 23%;
        height: 110px;
        margin-top: 0;
        margin-right: 3%;
        background-color: #f0f1f0;
        cursor: pointer;
    }
    .q3ItemBox {
        display: flex;
        display: -ms-flexbox;
        width: 100%;
        height: 110px;
        border: 1px solid #fff;
    }
    .q3ItemImg {
        display: flex;
        display: -ms-flexbox;
        width: 30%;
        height: 100px;
    }
    .q3ItemImg img {
        margin: auto;
        padding-top: 30px;
        width: 50px;
        height: 50px;
        padding-left: 10px;
    }
    .q3ItemContent {
        width: 60%;
        height: 150px;
        text-align: justify;
        padding: 15px 20px;
    }
    .q3ItemContent p {
        font-size: 15px;
        line-height: 25px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .q3ItemContent hr {
        margin-top: 12px;
        color: #dfdfdf;
    }
    .q3ItemContent span {
        font-size: 15px;
        line-height: 22px;
        color: #656565;
    }
    /*.q4 {
        height: 550px;
        width: 100%;
        opacity: 1;
        background: url(../img/solution/bg-easy.png);
    }
    .q4Title {
        position: relative;
        color: #fff;
        font-size: 28px;
        top: 18%;
        left: 45%;
    }
    .q4Container {
        display: flex;
        display: -ms-flexbox;
        width: 72%;
        height: 300px;
        margin-left: 4.5%;
        margin-top: 220px;
    }
    .q4Items {
        opacity: 1;
        height: 280px;
        width: 25%;
        margin-left: 2%;
        border-radius: 5px;
        background-color: #fff;
    }
    .q4Imgs {
        display: flex;
        display: -ms-flexbox;
        width: 100%;
        height: 150px;
    }
    .q4Imgs img {
        margin: auto;
    }
    .q4Contents {
        width: 80%;
        height: 130px;
        margin-top: -23px;
        margin-left: 10%;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        color: #333;
    }
    .q4Contents span {
        font-size: 13px;
        line-height: 19px;
    }*/
    .q4 {
        width: 40%;
        height: 250px;
        margin-left: 30%;
        opacity: 1;
        margin-top: 0;
    }
    .q4Containerp {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .q4 p {
        font-size: 30px;
        line-height: 60px;
    }
    .q4ForButton {
        display: flex;
        display: -ms-flexbox;
        width: 80%;
        margin-left: 10%;
        height: 60px;
    }
    .q4ButtonContainer {
        display: flex;
        display: -ms-flexbox;
        width: 50%;
        height: 60px;
    }
    .q4Button {
        width: 100px;
        height: 45px;
        margin: auto;
        font-size: 18px;
        line-height: 45px;
        color: #fff;
    }
}


/*ipad自己的样式*/
@media screen and (max-width: 1024px) and (min-width: 751px) {
    .logo{
        transform: scale(.88);
        margin-left: -40px;
    }
    .nav_bar {
        width: 40vw;
        margin-left: 100px;
    }
    .nav_bar ul li{
        width:6vw;
    }
    .q3Container {
        width: 90%;
    }
    .q3 {
        height: 450px;
    }
    .q3Item .q3Title {
        margin-top: 20px;
        font-size: 18px;
        line-height: 22px;
    }
}

/*mobile*/
@media screen and (max-width: 750px) {

    .desktop {
        display: none;
    }
    .other {
        display: block;
        position: relative;
    }
    .top{
        width: 100%;
        height: 60px;
        font-size: 25px;
    }
    .main{
        width: 100%;
        line-height: 60px;
        margin: 0 auto;
    }
    .logo {
        float: left;
    }
    .logo img {
        transform: scale(.68);
    }
    .nav_bar {
        color: #69c2ee;
        float: right;
        margin-right: 20px;
    }
    .q1{
        width: 100%;
        height: 100vh; 
        position: relative; 
        border: 1px solid #000;
    }
    .btn {
        width: 100px;
        height: 50px;
    }
    .q3{
        display: flex;
        display: -ms-flexbox;
        width: 100%;
        background: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
    }
    .q3Container {
        margin: auto;
        opacity: 1;
    }
    .q3Item {
        width: 100%;
        text-align: center;
    }
    .q3Item img {
        width: 50px;
        height: 50px;
    }
    .q3{
        width: 100%;
        height: 900px;
        border: 1px solid #000;
    }
    .html-body-overflow {
        overflow-y:hidden;
    }
    .menu {
        width: 70vw;
        height: 95vh;
        float: right;
        background-color: #fff;
        z-index: 1;
        margin-top: -80px;
        overflow-y:auto; 
    }
    .menu ul {
        margin-top: 20px;
    }
    .menu ul li {
        width: 100%;
        list-style: none;
        font-weight: 500;
        font-family: 宋体;
        color: #333333;
        line-height: 50px;
        font-size: 23px;
        border-bottom: 1px solid #dbdee0;
    }
    .menu .active {
        background-color: #b4b7ba;
        color:#fff;
    }
    .fa-angle-right {
        font-size: 28px;
        float: right;
        margin-top: 8px;
        margin-right: 20px;
    }

    /*橫屏*/ 
    @media screen and (orientation: landscape){
        .btn {
            margin-top: 60vh;
        }
        .q3{
            height: 630px;
        }
        .q3Container {
            width: 90%;
        }
        .q3Item {
            margin-top: 40px;
        }
        .q3Item .q3Title {
            margin-top: 18px;
            font-size: 16px;
            line-height: 31px;
        }
    }
    /*竖屏*/
    @media screen and (orientation: portrait){
        .btn {
            margin-top: 300px;
        }
        .q3{
            height: 800px;
        }
        .q3Container {
            width: 80%;
        }
        .q3Item {
            margin-top: 50px;
        }
        .q3Item .q3Title {
            margin-top: 15px;
            font-size: 18px;
            line-height: 31px;
        }
    }
}
